
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f4;
    transition: background-color 0.3s ease;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    text-align: center;
    transition: background-color 0.3s ease;
}

h1 {
    margin-bottom: 30px;
    color: #333;
    transition: color 0.3s ease;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Add a subtle text shadow */
}

#taskInput {
    border-radius: 5px;
}

#addTaskBtn {
    border-radius: 5px;
}

#taskList {
    list-style: none;
    padding: 0;
}

#taskList li {
    padding: 15px;
    border-bottom: 1px solid #eee;
    display: flex;
    align-items: center;
    background-color: #f9f9f9;
    border-radius: 5px;
    margin-bottom: 5px;
    animation: slideIn 0.5s ease-in-out; /* Add slide-in animation */
}

#taskList li span {
    flex-grow: 1;
    margin-right: 10px;
    color: #333;
    transition: color 0.3s ease;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    font-size: 16px;
}

#taskList li button {
    padding: 8px 15px;
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 15px;
    transition: background-color 0.3s ease;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-size: 14px;
}

#taskList li.completed span {
    text-decoration: line-through;
    color: #ccc;
}

#clearCompletedBtn {
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-size: 14px;
}

/* Dark Mode Styles */
body.dark-mode {
    background-color: #222;
    color: #fff;
}

.container.dark-mode {
    background-color: #333;
}

h1.dark-mode, #taskList li span.dark-mode {
    color: #fff;
}

#taskList li button.dark-mode {
    background-color: #f44336;
}

#taskList li.dark-mode {
    background-color: #333;
}

#taskList li.dark-mode span {
    color: #fff;
}

/* Animations */
@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
            